# Arquivos de dependência
node_modules

# Arquivos de build
dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de ambiente
.env

# Bancos de dados SQLite
*.db

# Arquivos de sistema
.DS_Store
